.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  color: #ffffff;
  background-color: #3f51b5;

  @media (max-width: 640px) {
    justify-content: space-between;
  }

  &__profile-link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: inherit;
    text-decoration: none;
  }

  &__button-menu {

    @media (min-width: 641px) {
      display: none !important;
    }

  }

  .MuiSvgIcon-root {
    fill: #ffffff;
  }

  .MuiTypography-colorTextSecondary {
    color: #ffffff;
  }

}